/* general */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 0.5px solid blue; */
}

body {
  position: relative;
  background: linear-gradient(315deg, #7f53ac 0%, #0000ff 74%);
  font-family: scandia-line-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.vertical {
  writing-mode: vertical-lr;
  color: #0000ff;
}

/* intro & about */

.intro__background {
  background: linear-gradient(315deg, #7f53ac 0%, #0000ff 74%);
  width: 100%;
  height: 50vh;
  position: relative;
}

.social__ul {
position: fixed;
top: 1rem;
right: 1rem;
z-index: 2;
}

.social__list {
  list-style: none;
}

i {
  color: white;
}

.intro__text {
  position: fixed;
  font-family: scandia-line-web,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10rem;
  line-height: 1.15;
  color: white;
  top: 0;
}

.send-to-back {
  z-index: -1;
  color: rgba(255, 255, 255, 0.5);
}

.about {
  background-image: url("./images/welcome-section__image.gif");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  padding-top: 50vh;
  display: flex;
  align-items: end;
}

.about__inner-text {
  background-color: white;
  padding: 3rem;
  margin: 0vh 3rem 3rem 3rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.2s;
}

.outside {
  transform: translateX(-200%);
}


/* container */

.container {
  padding: 3rem;
}

.container-narrow {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 2rem;
  padding: 3rem;
}

.module {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}


/* media-queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .intro__text {
    font-size: 10rem;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .intro__text {
    font-size: 6rem;
  }
}

@media (max-width: 540px) {
  .intro__text {
    font-size: 4rem;
  }
}
