*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0.5px solid blue;
}

body {
  position: relative;
}

p {
  font-size: 1.5rem;
}

.vertical {
  writing-mode: vertical-lr;
}

.intro__background {
  background-color: black;
  width: 100%;
  height: 50vh;
}

.intro__text {
  position: absolute;
  font-size: 10rem;
  color: white;
  top: 0;
}

.about {
  background-image: url("./images/welcome-section__image.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.about__inner-text {
  background-color: white;
  padding: 5rem;
  margin: 50vh 5rem 5rem 5rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.2s;
}

.outside {
  transform: translateX(-200%);
}
